<div class="modal" id="login-modal" tabindex="-1" role="dialog" aria labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
    	<div class="modal-content">
      		<div class="modal-header login_modal_header">
        		<h2 class="modal-title" id="myModalLabel">Infoturismo</h2>
        		<h3 class="modal-title" id="myModalLabel">Iniciar Sesión</h3>
      		</div>
      		<div class="modal-body login-modal">
      			<br/>
      			<div class="clearfix"></div>
      			<div id='social-icons-conatainer'>
	        		<div class='modal-body-left'>
	        			<div class="form-group">
		              		<input type="text" id="username" placeholder="Usuario" value="" class="form-control login-field" ng-model="credentials.username">
		              		<i class="fa fa-user login-field-icon"></i>
		            	</div>
		
		            	<div class="form-group">
		            	  	<input type="password" id="login-pass" placeholder="Password" value="" class="form-control login-field" ng-model="credentials.password">
		              		<i class="fa fa-lock login-field-icon"></i>
		            	</div>
		
		            	<button class="btn btn-primary modal-login-btn">Ingresar</button>
	        		</div>
	        	</div>																												
        		<div class="clearfix"></div>
      		</div>
      		<div class="clearfix"></div>
      		<div class="modal-footer login_modal_footer">
      		</div>
    	</div>
  	</div>
</div>