<div id="sidebar-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
            	<div class="seleccion">
					<ul>
						<li ng-repeat="item in filterMenuItems">
	                        <a id="{{item.id}}" class="clickable" ng-class="{{item.activeClass}}" ng-click="onFilterMenuItemClick($event)"><i class="{{item.icon}}"></i> <span ng-bind-html="item.label"></span></a>
	                    </li>
					</ul>
				</div> 
            </div>   
        </div>
    </div>
</div>