<ul class="nav navbar-right top-nav">
    <li class="dropdown clickable">
        <a class="dropdown-toggle" data-toggle="dropdown"><i class={{menuIcons.usuario}}></i><b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <a><i class={{menuIcons.cerrarSesion}}></i><span ng-bind-html="labels.cerrarSesion"></span></a>
            </li>
        </ul>
    </li>
    <li class="btn-filters clickable">
        <a id="filters-toggle" ng-click="toggleFilters()"><i class={{menuIcons.filtros}}></i></span></a>
    </li>
</ul>